.essage {
  font-size: 16px;
  position: fixed;
  _position: absolute;
  z-index: 10010;
  background: #fff;
  background: #ffffff;
  color: #666;
  text-align: center;
  line-height: 1.8;
  padding: 10px 20px 10px 30px;
  *padding: 10px 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  top: 9999em;
  left: 50%;
  margin-left: -150px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.35);
}
.essage-success {
  background: #eafbe3;
  background: #ddf2d2;
  border-bottom-color: #bfd5a9;
  border-top-color: #bfd5a9;
  color: #3fb16f;
}
.essage-error {
  background: #f2e1e4;
  border-bottom-color: #e0cdcd;
  border-top-color: #e0cdcd;
  color: #dc584b;
}
.essage-warning {
  background: #fcf8e3;
  border-bottom-color: #fbeed5;
  border-top-color: #fbeed5;
  color: #c09853;
}
.essage .icon {
  margin-right: 20px;
  line-height: 16px;
  font-size: 28px;
  vertical-align: text-top;
}
.essage .close {
  font: 400 normal 22px/1.3 arial, sans-serif;
  float: right;
  margin-left: 20px;
  margin-top: 2px;
  *margin-right: 15px;
  display: inline;
  opacity: 0.6;
  cursor: pointer;
}
.essage .close:hover {
  opacity: 1;
}
